# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema Mac
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/

# Logs y bases de datos locales (por si acaso)
*.log
history.json
